<div id="writeboard">
  <ul id="notes">
    {{#notes}}
      <li>
        <form action="#/notes/{{_id}}" method="put" accept-charset="utf-8">
          <textarea class="expanding" id="text_{{_id}}" name="text">{{text}}</textarea>
          <input type="submit" value="Save" style="display:none;"/>
        </form>
      </li>
    {{/notes}}
  </ul>
</div>
