<li class="edit-note" id="edit_note_{{_id}}">
  <form class="edit-note" action="#/notes/{{_id}}" method="put" accept-charset="utf-8">
    <span class="space">&nbsp;</span>
    <a class="image">&nbsp;</a>
    <textarea class="expanding" id="edit_text_{{_id}}" name="text">{{text}}</textarea>
    <input type="submit" value="Save" style="display:none;"/>
  </form>
</li>