<li id="new-note">
  <form action="#/notes" method="post" accept-charset="utf-8">
    <textarea class="expanding" id="new-text" name="text"/>
    <input type="submit" value="Save" style="display:none;"/>
  </form>
</li>