/* general */

body {
  background: #C1AFFA;
  color:#2e0571;
}

ul, li ul {
  margin: 0;
  padding: 0;
}

ul {
  margin-left: 16px;
}

#container {
  width:950px;
  margin:0 auto;
}

#notice, #error {
  display: none;
}

.notice {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.notice a {color:#264409;}

#header {
  background: #7c45d6;
  clear: both;
  height: 83px;
  border-bottom: 2px solid #503AAE;
  border-left: 2px solid #503AAE;
  border-right: 2px solid #503AAE;
}

#content {
  padding: 35px 21px 16px 15px;
  background: #946bd6;
  min-height:600px;
  border-left: 2px solid #503AAE;
  border-right: 2px solid #503AAE;
}

#spinner {
  float: right;
  background: url(../images/spinner.gif) no-repeat;
  height: 20px;
  padding: 40px 35px 0 0;
  margin-top: 5px;
}

/* forms */

input.error {
  border: 1px red solid;
}


/* navigation */

#nav {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

#nav ul {
  margin-left: 0px;
}

#nav li {
  display: inline-block;
}

#nav li a {
  padding: 30px 10px 0px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  font-size: 1.5em;
}

#nav li a.active {
  background: #000;
}

/* writeboard */

h2 {
  color: white;
  padding-left: 17px;
  font-size: 1.8em;
}

#writeboard ul#notes li {
  list-style-type: none;
  margin: 0;  
}


ul#notes ul.indent{
  width: 100%;
}

ul#notes form{
  clear: left;
  background-color: #fff;
  border-bottom: 1px solid #bbb;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
}

textarea.expanding {
  height: 14px;
	min-height: 14px;
	margin: 0px;
	border: none;
	background-color: transparent;
}

ul#notes li form.active {background-color: #f2f2f2;}

ul#notes a.image {
  width: 10px;
  display: block;
  float:left;
  background-image: url(../images/arrow_right.gif);
  background-repeat:no-repeat;
  background-position:0px 7px;
  text-decoration: none;
}

ul#notes a.down {
  background-image: url(../images/arrow_down.gif);
}

ul#notes li img {
  float: left;
}

/* indenting of notes */

ul#notes li textarea{
  width: 865px;
  font-weight:bold;
  font-size: 13px;
}

ul#notes li span.space {
  width: 0px;
  display: block;
  float: left;
}

ul#notes li ul li textarea {
  width: 835px;
  font-weight:normal;
}

ul#notes li ul li span.space {
  width: 30px;
}

ul#notes li ul li ul li textarea {
  width: 805px;
  font-size: 12px;
}

ul#notes li ul li ul li span.space {
  width: 60px;
}

ul#notes li ul li ul li ul li textarea {
  width: 775px;
}

ul#notes li ul li ul li ul li span.space {
  width: 90px;
}

ul#notes li ul li ul li ul li ul li textarea {
  width: 745px;
}

ul#notes li ul li ul li ul li ul li span.space {
  width: 120px;
}

ul#notes li ul li ul li ul li ul li ul li textarea {
  width: 715px;
}

ul#notes li ul li ul li ul li ul li ul li span.space {
  width: 150px;
}

ul#notes li ul li ul li ul li ul li ul li ul li textarea {
  width: 695px;
}

ul#notes li ul li ul li ul li ul li ul li ul li span.space {
  width: 170px;
}

ul#notes li ul li ul li ul li ul li ul li ul li ul li textarea {
  width: 675px;
}

ul#notes li ul li ul li ul li ul li ul li ul li ul li span.space {
  width: 190px;
}

ul#notes li ul li ul li ul li ul li ul li ul li ul li ul li textarea {
  width: 655px;
}

ul#notes li ul li ul li ul li ul li ul li ul li ul li ul li span.space {
  width: 210px;
}

ul#notes li ul li ul li ul li ul li ul li ul li ul li ul li ul li textarea {
  width: 635px;
}

ul#notes li ul li ul li ul li ul li ul li ul li ul li ul li ul li span.space {
  width: 220px;
}