/* general */

body {
  background: #C1AFFA;
  color:#2e0571;
}

ul, li ul {
  margin: 0;
  padding: 0;
}

ul {
  margin-left: 16px;
}

#container {
  width:950px;
  margin:0 auto;
}

#notice, #error {
  display: none;
}

.notice {background:#E6EFC2;color:#264409;border-color:#C6D880;}
.notice a {color:#264409;}

#header {
  background: #7c45d6;
  clear: both;
  height: 83px;
  border-bottom: 2px solid #503AAE;
  border-left: 2px solid #503AAE;
  border-right: 2px solid #503AAE;
}

#content {
  padding: 35px 21px 16px 15px;
  background: #946bd6;
  min-height:600px;
  border-left: 2px solid #503AAE;
  border-right: 2px solid #503AAE;
}

#spinner {
  float: right;
  background: url(../images/spinner.gif) no-repeat;
  height: 20px;
  padding: 40px 35px 0 0;
  margin-top: 5px;
}

/* forms */

input.error {
  border: 1px red solid;
}


/* navigation */

#nav {
  float: left;
  margin-left: 20px;
  margin-top: 10px;
}

#nav ul {
  margin-left: 0px;
}

#nav li {
  display: inline-block;
}

#nav li a {
  padding: 30px 10px 0px;
  color: white;
  text-decoration: none;
  font-weight: bold;
  display: block;
  font-size: 1.5em;
}

#nav li a.active {
  background: #000;
}

/* writeboard */

h2 {
  color: white;
  padding-left: 17px;
  font-size: 1.8em;
}

#writeboard ul#notes li {
  list-style-type: none;
  margin: 0;  
}

ul#notes ul.indent{
  width: 100%;
}

textarea.expanding {
  height: 14px;
	min-height: 14px;
	margin: -2px;
}

/* textarea:focus {border: 1px solid red} */

ul#notes li textarea{
  max-width: 886px;
  width: 100%;
  font-weight:bold;
  font-size: 13px;
}

ul#notes li ul li textarea {
  padding-left: 30px;
  font-weight:normal;
}

ul#notes li ul li ul li textarea {
  padding-left: 60px;
  font-size: 12px;
}

ul#notes li ul li ul li ul li textarea {
  padding-left: 90px;
}

ul#notes li ul li ul li ul li ul li textarea {
  padding-left: 120px;
}

ul#notes li ul li ul li ul li ul li textarea {
  padding-left: 150px;
}

ul#notes li ul li ul li ul li ul li textarea {
  padding-left: 170px;
}

ul#notes li ul li ul li ul li ul li textarea {
  padding-left: 190px;
}

ul#notes li ul li ul li ul li ul li textarea {
  padding-left: 210px;
}