<div class="edit-outline" id="edit_outline_{{_id}}">
  <form action="#/outlines/{{_id}}" method="put" accept-charset="utf-8">
    <input type="text" id="title" name="title" value="{{title}}"></input>
    <input type="submit" value="Save"/>
  </form>
  <br/>
  <p>Created: {{created_at}}</p>
  <a class="left_link" href="#/outlines/{{_id}}">Back to outline</a>
  <form action="#/outlines/{{_id}}" method="delete" accept-charset="utf-8" id="delete_outline_{{_id}}">
    <input type="hidden" name="rev" value="{{_rev}}"/>
    <input type="submit" value="Delete this outline">
  </form>
</div>