<ul id="all_outlines">
  {{empty}}
  {{#outlines}}
    <li>
      <a href="#/outlines/{{_id}}">{{title}}</a> ({{short_created_at}})
    </li>
  {{/outlines}}
</ul>

<div id="howto">
  <p>Create a new outline and start to write.</p>

  <p>- Enter: create a new line<br/>
  - Tab: Indent a line<br/>
  - Shift+Tab: Unindent a line</p>
</div>
