<h2>New Outline</h2>
<div id="new-outline" class="new-outline">
  <form action="#/outlines" method="post" accept-charset="utf-8">
    <input type="text" id="title" name="title"/>
    <input type="submit" value="Save"/>
  </form>
</div>