<h2>{{title}}</h2>
<h2 style="display:none;" id="outline-id">{{id}}</h2>
<div id="writeboard">
  <ul id="notes">
    {{#notes}}
      <li class="edit-note" id="edit_note_{{_id}}">
        <form action="#/notes/{{_id}}" method="put" accept-charset="utf-8">
          <span class="space">&nbsp;</span>
          <a class="image">&nbsp;</a>
          <textarea class="expanding" id="edit_text_{{_id}}" name="text">{{text}}</textarea>
          <input type="submit" value="Save" style="display:none;"/>
        </form>
      </li>
    {{/notes}}
  </ul>
</div>
