<a class="right_link" href="#/outlines/edit/{{outline_id}}">Change title or delete this outline</a>
<h2>{{title}}</h2>
<h2 style="display:none;" id="outline-id">{{outline_id}}</h2>
<h3 style="display:none;" id="conflict-update">Replication has caused one or more conflicts in this outline. <a href="/doingnotes/_design/doingnotes/index.html#/outlines/{{outline_id}}?solve=true">Solve them.</a></h3>
<div id="writeboard">
  <ul id="notes">
    {{#notes}}
      <li class="edit-note" id="edit_note_{{_id}}">
        <form class="edit-note" action="#/notes/{{_id}}" method="put" accept-charset="utf-8">
          <span class="space">&nbsp;</span>
          <a class="image">&nbsp;</a>
          <textarea class="expanding" id="edit_text_{{_id}}" name="text">{{text}}</textarea>
          <input type="submit" value="Save" style="display:none;"/>
        </form>
      </li>
    {{/notes}}
  </ul>
</div>
